<%include ./../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="text-center">Add New Comments for <%= campground.name %></h3>
      <% include ./../partials/comment_form %>
    </div>
  </div>
<%include ./../partials/footer %>
