html{
  position: relative;
  min-height: 100%;
}
body{
  margin: 0 0 60px;
}

#yelp_camp_nav a,
#user>p{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2rem;
  border-radius: none;
}

#user>p{
  margin: 22px auto;
  text-transform: none;
}
.navbar-default{
  background-color: #ff8040;
  border-radius: 0;
  border:transparent;
}

a.navbar-brand img{
  width: 35px;
  box-sizing:border-box;
  margin-right: 10px;
}
.navbar .nav > li > a {
  line-height: 35px;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background-color: #fff;
}
#yelp_camp_jumbotron{
  position: relative !important;
  z-index: 1 !important;
  border-radius: none;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: -22px -20px 40px -20px;
  background: url('http://1.bp.blogspot.com/_syt5uOK-SGc/S6tG-UIaaZI/AAAAAAAAABQ/V_E0pJl7eNM/s1600/DSCF0287.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
}

#yelp_camp_jumbotron h1.text-center{
  color: #fff;
  text-shadow: rgba(100, 120, 155, 0.9) 4px 2px 2px;
}

#yelp_camp_jumbotron p.text-center.welcome{
  color: #fff;
  font-weight: normal;
  text-shadow: rgba(100, 120, 155, 0.9) 2px 2px 2px;
  letter-spacing: 0.2rem;
}

#intro{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #fefefe;.
  letter-spacing: 0.5rem;
  text-align:center;
  padding: 3px;
  background: #ff8040;
  margin: 20px auto;
}
#campgrounds{
  width: 95%;
  margin: 40px auto;
}
.btn-warning{
  background-color:#ff8040;
}
.btn-success, .btn-success:hover,
.btn-success:active,
.btn-success:link{
  background-color: #00b2d6;
  border-color: #00b2d6;
}

img.show.thumbnail{
  margin:0 auto;
}

#delete-form,
#delete-comment{
  display:inline;
}

div.thumbnail.all img{
  display:block;
  height: 200px;
  width: 100%;
  overflow:hidden;
}
footer{
  position: absolute;
  left:0;
  bottom: 0;
  height: 60px;
  width:100%;
  background-color: rgba(255, 128, 64, 0.95);
}
footer p {
  margin-top: 25px;
  color: #fff;
}
.navbar-brand>a{
  font-weight: 800;
  font-size: 10em !important;
}


.thumbnail{
  border-radius: 5px;
  box-shadow: 2px 3px 2px #888888;
  -webkit-box-shadow: 2px 3px 2px #888888;
  -moz-box-shadow: 2px 3px 2px #888888;
  padding: 0
}
.thumbnail.show>p{
  width: 92%;
  margin: 5px auto;
  padding: 2px 3px;
}
img.img-responsive{
  width: 100%;
}
div.caption-full{
  padding: 9px;
}
.comment ul>li{
  box-sizing:border-box;
  padding: 7px 12px;
  border-radius:5px;
  border-radius: 1px solid red;
  background: #e2e2e2;
}
.add_campground .text-center{
  height: 20px;
}
div.alert{
  width: 95%;
  margin: 20px auto;
  border-radius: 45px;
}
#add_comment>small>a{
  line-height:30px;
  vertical-align: top;
  margin: 0 0 0 50px;
  text-transform: uppercase;
};

#date{
  text-align: right;
}

@media screen and (max-width: 767px) {
  div#navbar[aria-expanded="true"],
  div#navbar[aria-expanded="false"] {
    border-top: transparent;
  }
  #intro{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: normal;
    letter-spacing: 0.5rem;
    text-align:center;
    padding: 1px;
    background: #449d44;
    margin: 20px auto;
    font-size: 2rem;
  }
  footer{
    position: absolute;
    font-size: 1rem;
    left:0;
    bottom: 0;
    height: 60px;
    width:100%;
    background-color:rgba(255, 128, 64, 0.6);
  }
}

@media screen and (min-width: 320px) and (max-width: 599px){
  div.thumbnail{
    max-width: 85%;
    margin: 10px auto;
  }
  div.thumbnail h4{
    font-size: 1.5rem;
  }
  div.thumbnail p{
    font-size: 1.2rem;
    padding: 2px;
  }
  a.btn-warning{
    width: 75%;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 766px){

  div.thumbnail{
    max-width: 45%;
    margin: 10px auto;
  }
  div.thumbnail h4{
    font-size: 1.5rem;
  }
  div.thumbnail p{
    font-size: 1.2rem;
    padding: 2px;
  }
  a.btn-warning{
    width: 75%;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 auto;
  }
}
